@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: LightGray;
}

.caro-img {
    width: 100%;
    max-height: 70% !important;
}

#intro {
    position: relative;
    width: 80vw;
    padding: 40px;
    margin: 40px auto;
    box-shadow: 2px -2px 35px -1px rgba(140, 140, 140, 0.4);
    border-radius: 20px;
    z-index: -1;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    //align-items: center;
    flex-flow: row wrap;
    padding: 40px;
}

.intro-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 50%;
}

.wrapper .first-svg {
    flex-order: 3;
}

hr {
    width: 70%;
    margin: auto;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/*********************Review_Section*************************/

.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#some-review {
    text-align: -webkit-center;
    background-image: url("images/review1.png");
    background-repeat: round;
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-left: 20%;
    margin-right: 20%;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides>div {
    flex-shrink: 0;
    width: 100%;
    height: 300px;
    margin-right: 50px;
    padding-bottom: 30px;
    border-radius: 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.slider>a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: black;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 30px 0.5rem 30px;
    position: relative;
}

.slider>a:active {
    top: 1px;
}

.slider>a:focus {
    background: #ff4d4d;
}

/*todays specials*/
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}
/* 14% = 100% (full-width row) divided by 7 */

img{
  max-width: 100%;
}

/* Footer */

footer{
     background-color: black;
     padding:70px 0px;
     text-align: center;
}          

footer ul li{
    padding:5px 0px;
}

footer ul li a:hover{
    padding:5px 0px;
    color: red
}

.adress span , .contact span , .social span{
   color: #FFF; 
   font-weight: 800; 
   padding-bottom: 10px; 
   margin-bottom: 20px;
   display: block;
   text-transform: uppercase;
   font-size: 20px;
   letter-spacing: 3px;
}
 
.adress li p , .contact li a , .social li a{
    color:#FFF;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:15px;
}

.social li{
    float:center;
    padding-left: 20px; 
}

.social li a i:hover{
    color: red; 
}


.adress , .contact , .social {
    list-style: none;
}

.fa{
    color:#9c9c9c;
    margin-right: 15px;
    font-size:14px;
}


/*********************************************************/

#_1 {
    background-image: url("../images/formsback.png");
    background-repeat: no-repeat;
    background-size: cover;
}
